{{!-- upload.hbs --}}
{{> menu}}

<div class="text-center mb-4">
    <p>&nbsp;</p>
    <img src="logo.png" alt="Logo of Mini-Cloud" title="Mini-Cloud" class="img-fluid rounded-circle" width="170" height="170">
    <p></p>
    <h3><strong>Mini-Cloud Upload</strong></h3>
</div>
<div class="container mt-4">
    <h4>Upload files</h4>
    {{#if message}}
        <div class="alert {{messageClass}}" role="alert">
            {{message}}
        </div>
    {{/if}}
    <div class="my-3">
        <form id="uploadForm" action="/api/upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="themeSelect" class="form-label">Select a Topic for the file:</label>
                <select class="form-control" id="themeSelect" name="theme" required>
                    {{#each themes}}
                        <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mb-3">
                <label for="fileInput" class="form-label">Choose file to upload</label>
                <input type="file" class="form-control" id="fileInput" name="filedata" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        <div class="progress mt-2" style="height: 20px;">
            <div id="progressBar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
<script src="/js/script_upload.js"></script>
</div>

