.custom-list {
    list-style: none; /* Removing the standard list markers */
    padding-left: 0; /* Removing the indentation on the left */
}

.custom-list li {
    color: green; /* Set text color to green */
    font-size: 20px; /* Set font size to 12 pixels */
    text-decoration: none; /* Remove underline */
}

.custom-list li::before {
    content: "-> "; /* Add an arrow in front of the text of each item */
    color: #7700d8; /* The color of the arrows */
    padding-right: 8px; /* Add a small indentation to the right of the arrow */
}

.custom-list li a {
    color: green; /* Ensuring link is also green */
    text-decoration: none; /* Ensure links are not underlined */
}
